


/*
 *  BUTTON BASIC
 */
%btn-basic {

    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    @include f_special( $c_bg ); 
    border-radius:1px;
    cursor:pointer;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    //margin-bottom: $btn_margin_bottom;
    
    //@include transition( background-color, 0.1s );


    /*&:hover {
        background-color: $c_grey_light;
        color: $c_black;
    }*/

    &:active {
        background-color: $c_logo_red;
        color: $c_white;
    }
    
}

    
    /*
     *  BUTTON SIZES
     */

    .btn {
        @extend %btn-basic;
        font-size: 13px;
        padding: ($btn_height - 13px*$lh_standard)/2 $btn_side_padding;
        width: 100% - 2*$btn_side_padding;
    }


    .btn-small {
        @extend %btn-basic;
        font-size: 12px;
        padding: ($btn_height_small - 12px*$lh_standard)/2 0;
    }
        

    .btn-big {
        @extend %btn-basic;
        font-size: 15px;
        padding: ($btn_height_big - 15px*$lh_standard)/2 0;
    }




        



        /*
         *  BUTTON CONCEPT
         *
         *  NEEDED: 
         *       Button DOM structure:
               <a href="" class="btn-color btn-icon">
                   <div class="btnbody">Click Me!</div>
               </a>
         */


        /*
         *  BUTTON COLORS
         */
        //-------------> begin button colors
            .btn-be-red {
                //@extend .btn;
                background-color: $c_logo_red;
                position: relative;

                &:active {
                    background-color: $c_black;
                    color: $c_white;
                }
                
                .btnbody {
                    text-align: left;
                    color: $c_white;
                }
            }


            .btn-be-black {
                //@extend .btn;
                background-color: $c_black;
                color: $c_white;
                position: relative;


                &:hover {
                    //background-color: $c_logo_red;
                    color: $c_white;
                }


                &:active {
                    background-color: $c_logo_red;
                    color: $c_white;
                }
                
                .btnbody {
                    text-align: left;
                 }
            }


            .btn-be-white {
                //@extend .btn;
                background-color: $c_white;
                color: $c_black;
                position: relative;

                &:active {
                    background-color: $c_logo_red;
                    color: $c_white;
                }
                
                .btnbody {
                    text-align: left;

                }
            }


            .btn-be-grey {
                //@extend .btn-big;
                background-color: $c_grey_light_ultra;
                color: $c_black;
                position: relative;

                &:active {
                    background-color: $c_logo_red;
                    color: $c_white;
                }
                
                .btnbody {
                    text-align: left;

                }
            }



            .btn-be-stone {
                
                background-color: $c_stone_light;
                color: $c_black;
                position: relative;

                &:active {
                    background-color: $c_logo_red;
                    color: $c_white;
                }
                
                .btnbody {
                    text-align: left;

                }
            }
        //-------------> end button colors




            /*
             *  BUTTON TYPES
             */


            .btn-red {
                @extend .btn;
                @extend .btn-be-red;
            }

            .btn-black {
                @extend .btn;
                @extend .btn-be-black;
            }

            .btn-white {
                @extend .btn;
                @extend .btn-be-white;
            }

            .btn-grey {
                @extend .btn;
                @extend .btn-be-grey;
            }

            





            /*
             *  PAGINATION BUTTONS
             * 
             *  DOM: Example
                
                <a href="" class="btn-prev left">
                    <div class="btnbody">jüngere artikel</div>
                </a>

                <a href="" class="btn-next right">
                    <div class="btnbody">ältere artikel</div>
                </a>

             */
            .btn-next,
            .btn-prev {
                @extend .btn-big;
                @extend .btn-be-stone;

                margin-bottom: 4px;

                .btnbody {

                    font-size: 13px;

                    &:before,
                    &:after {
                        font-size: 1.2em;
                        vertical-align: -0.2em;
                        padding: 0 .3em;
                    }
                }
            }

                .btn-prev {
                    text-align: left;
                    float: left;
                    padding-left: 0.4em;
                    padding-right: 1em;
                    margin-left: 1.5%;

                    .btnbody:before {
                        @include set_icon(arrleft);
                    }
                }

                .btn-next {
                    text-align: right;
                    float: right;
                    padding-right: 0.4em;
                    padding-left: 1em;
                    margin-right: 1.5%;

                    .btnbody:after {
                        @include set_icon(arrright);
                    }
                }


            // foldin button
            .btn-foldin {
                @extend .btn-small;
                text-align: center;
                background-color: $c_black;
                margin: 20px 0 $btn_margin_bottom 0;
                width: 120px;

                &:before {
                    @include set_icon("arrup");
                    font-size: 1.2em;
                    vertical-align: -1px;
                    padding-right: 5px;
                }
            }


            .btn-foldin.light {
                background-color: $c_grey_light_extra;

                &:active {
                    background-color: $c_logo_red;
                    color: $c_white;
                }
            }






            // read button
            .btn-read {
                @extend .btn-small;
                text-align: right;
                background-color: $c_logo_red;
                color: $c_white;
                width: 80px;

                &:active {
                    background-color: $c_black;
                }

                &:after {
                    @include set_icon("arrright");
                    font-size: 1.2em;
                    vertical-align: -1px;
                    padding: 0 3px;
                }
            }




            
            


            // black buttons for the footer    
            .btn-footer {
                
                @extend .btn;
                @extend .btn-be-black;
                margin-bottom: 4px;
                padding: ($btn_height_big - 13px*$lh_standard)/2 0;
                width: 98.5%;

                .btnbody {
                    font-size: 13px;
                    text-align: right;
                    padding-left: $span_frame;
                }
            }


            // btn to go up
            .btn-gototop {

                // based on black-btn
                @extend .btn;
                @extend .btn-be-black;
                font-size: $f_size_12;
                text-align: center;

                .icon:after {
                    @include set_icon(arrup);
                }
           }


        

           


           .btn-dropouts {
                @extend .btn-big;
                @extend .btn-be-grey;

                padding-right: $nav_btn_right_padding;
                padding-left: $span_frame;
                width: 100% - $span_frame - $nav_btn_right_padding;

                &.active {
                    @extend .btn-be-black;
                }
           }




        /*
         *  BUTTON ICONS
         */
        //-------------> begin button icons


            /* all style */


            /* :before icons */  
            /* add icons :before with the standard icon-classes like class="icon-name"
               add the class to the .btnbody
            */
                .btnbody:before {
                    font-size: 1.4em;
                    padding-right: 6px;
                    vertical-align: -0.2em;
                }
                

                .icon-outgoing {

                    &:after {
                        @include set_icon(arrright);
                        font-size: .8em;
                        padding-left: .18em;
                    }
                }


            /* :after icons */   
                .btn-icon-arrright .btnbody{ 

                    padding-right: $nav_btn_right_padding;
                    &:after {
                
                        @include btn_set_icon("arrright");
                        
                    }
                    
                }





            /* plus - minus icons handled with status .active */
            /*
             *  NEEDED: 
             *       Button DOM structure:
             *      <a href="" class="dropouttrigger plusminus">
             *          <div class="btnbody">Click Me!</div>
             *      </a>
             */  
            .plusminus {
                    
                    //padding: $s_half 0;
                    cursor: pointer;
                    position: relative;

                    >:after {
                        @include btn_set_icon (plus);
                        color: $c_stone_middle;
                    }

                    &.active>:after {
                        @include btn_set_icon (minus);
                    }

                    
                }

        //-------------> end button icons


























           


        

